@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;500;700&family=Montserrat&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
    background-color: antiquewhite;
}



li  {
    display: inline;
    margin-left: 5rem;
    border: black 1px;
    border-radius: 5px;
    padding: 3px;
}

li:hover {
    text-decoration: underline;
}   

h2{
    padding: 50px;
    text-align: center;
    text-decoration: underline black;
}

img{
    width: 500px;
    height: 500px;
}

p{
    padding: 50px;
}

.txt-nos{
    padding-left: 550px;
    box-sizing: 0px;
}

footer{
    text-align: center;
}

.estiloContactos{
    margin-left: 90px;
    margin-right: 90px;
    padding: 30px;
    text-align: center;
    border: black 1px solid;
    border-radius: 10px;    
    
} 

.redes{
    padding-top: 100px;
    text-align: center;
    text-decoration: underline black;
}

.nav-deco{
    padding: 0px;
}

.busc-prod{
    margin-left: 50px;
    margin-bottom:15px;
}