@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;500;700&family=Montserrat&display=swap');


/* 
COLORES:

#E1CE7A
#FBFFB9
#FDD692
#EC7357
#754F44

*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
    background-color: #E1CE7A;
}



li  {
    display: inline;
    margin-left: 5rem;
    border: black 1px;
    border-radius: 5px;
    padding: 3px;
}

li:hover {
    text-decoration: underline;
}   

h2{
    padding: 50px;
    text-align: center;
    text-decoration: underline black;
}

h4{
    margin-left: 30px;
    text-decoration: underline;
}  
img{
    width: 450px;
    height: 300px;
}

.txt-nos{
    padding-top: 50px;
    padding-left: 550px;
    box-sizing: 0px;
}

footer{
    text-align: center;
}

.estiloContactos{
    margin-left: 90px;
    margin-right: 90px;
    padding: 30px;
    text-align: center;
    border: black 1px solid;
    border-radius: 10px;    
    
} 

.redes{
    padding-top: 100px;
    text-align: center;
    text-decoration: underline black;
}

.nav-deco{
    padding: 0px;
}

.busc-prod{
    margin-left: 50px;
    margin-bottom:15px;
}

.imagenes{
    display: flex;
}

.card{
    margin: 15px;
    border-color:#754F44;
}

.card-body{
    background-color:#FBFFB9 ;
}

.card-text{
    background-color: #FBFFB9;
}

.card-title{
    background-color: #FBFFB9;
}

.btn-primary{
    background-color: #754F44;
    border-color: #754F44;
}




/* MEDIA QUERYS */

@media (max-width: 445px){
    .imagenes{
        flex-direction: column;
    }
}